@font-face {
  font-family: "SegoeUI-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/segoeuil.ttf") format("truetype");
}
@font-face {
  font-family: "SegoeUI-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/seguibl.ttf") format("truetype");
}
@font-face {
  font-family: "Arial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ARIBL0.ttf") format("truetype");
}
@font-face {
  font-family: "Arial-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FontsFree-Net-arial-bold.ttf") format("truetype");
}

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/60f3e70cfb5acd1ac319982d.60f3e70efb5acd1ac3199830.28bat1I.hcp.png");

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
