/* screen - web-1920-1 */

.web-1920-1 {
  background-color: #000000;
  height: 518px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1358px;
}

.web-1920-1 .lofo-HlzXCz {
  background-color: transparent;
  height: 101px;
  left: 612px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 134px;
}

.web-1920-1 .nesse-exato-momento-HlzXCz {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-calibri-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 124px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .icons8-discord-150-HlzXCz {
  background-color: transparent;
  height: 15px;
  left: 640px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 21px;
}

.web-1920-1 .icons8-whatsapp-HlzXCz {
  background-color: transparent;
  height: 18px;
  left: 671px;
  object-fit: cover;
  position: absolute;
  top: 244px;
  width: 18px;
}

.web-1920-1 .icon-paper_plane-HlzXCz {
  background-color: transparent;
  height: 15px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 246px;
  width: 17px;
}

.web-1920-1 .seja-bem-vindo-a-enth-HlzXCz {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-bahnschrift-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 92px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .caso-voc-queira-part-HlzXCz {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-calibri-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 190px;
  white-space: nowrap;
  width: auto;
}
